@using SpendThriftWebsite.Infrastructure;

@model SpendThriftWebsite.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Index";
}

<fieldset>
    <legend>Shopping Cart</legend>
    @foreach(var item in Model.CartItems)
    {
        <div class="row thumbnail">
            <div class="col-md-3">
                @Html.Image(@item.Product.ImageUrl, @item.Product.Name)
            </div>
            <div class="col-md-3">
                <br />
                <br />
                <br />
                <br />
                <h2 class="text-primary">Name: @item.Product.Name</h2>
            </div>
            <div class="col-md-3">
                <br />
                <br />
                <br />
                <br />
                <h2 class="text-danger">Quantity: @item.ProductCount</h2>
            </div>           
        </div>
    }
</fieldset>

<br />
<div class="row"><h2>Total Price: @Model.CartTotal</h2></div>
<br />
<p class="btn btn-default">
    @Html.ActionLink("Checkout >>", "AddressAndPayment", "Checkout")
</p>
<p>
    <h3>@Html.ActionLink("Back to Store", "Index","Store")</h3>
</p>
